<a href="https://colab.research.google.com/github/GayathriP4/Python/blob/main/AI_MINOR_JULY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Importing all the packages required

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from keras.utils.np_utils import to_categorical
from keras.models import load_model
import numpy as np

 # 2. Organizing Iris Dataset & splitting

In [ ]:
#2 training dataset
fp = '/content/Iris.csv'
df = pd.read_csv(fp)
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
a = df.Species.unique()
di = { a[i]:i for i in range(len(a))}
n = len(di)
di

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [ ]:
df['species'] = [di[i] for i in df['Species']]
df.describe()

               Id  SepalLengthCm  ...  PetalWidthCm     species
count  150.000000     150.000000  ...    150.000000  150.000000
mean    75.500000       5.843333  ...      1.198667    1.000000
std     43.445368       0.828066  ...      0.763161    0.819232
min      1.000000       4.300000  ...      0.100000    0.000000
25%     38.250000       5.100000  ...      0.300000    0.000000
50%     75.500000       5.800000  ...      1.300000    1.000000
75%    112.750000       6.400000  ...      1.800000    2.000000
max    150.000000       7.900000  ...      2.500000    2.000000

[8 rows x 6 columns]

In [ ]:
target = to_categorical(df['species'])
features = df.drop(['Species','species','Id'],axis=1)
cols = features.shape[1]

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(features,target,test_size=0.2,stratify=target,random_state=42)

# 3. Scaling

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# 4. Specifying Architecture

In [ ]:
model = Sequential()
model.add(Dense(104,activation='relu',input_shape=(cols,))) 
model.add(Dense(24,activation='relu'))
model.add(Dense(n,activation='softmax'))

# 5. Compile

In [ ]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

# 6. Predict

In [ ]:
model.fit(X_train,Y_train,epochs=35)

Epoch 1/35
4/4 [==============================] - 0s 2ms/step - loss: 1.0440 - accuracy: 0.5583
Epoch 2/35
4/4 [==============================] - 0s 2ms/step - loss: 0.9467 - accuracy: 0.7667
Epoch 3/35
4/4 [==============================] - 0s 2ms/step - loss: 0.8574 - accuracy: 0.8167
Epoch 4/35
4/4 [==============================] - 0s 1ms/step - loss: 0.7783 - accuracy: 0.8333
Epoch 5/35
4/4 [==============================] - 0s 1ms/step - loss: 0.7075 - accuracy: 0.8500
Epoch 6/35
4/4 [==============================] - 0s 1ms/step - loss: 0.6459 - accuracy: 0.8417
Epoch 7/35
4/4 [==============================] - 0s 1ms/step - loss: 0.5894 - accuracy: 0.8500
Epoch 8/35
4/4 [==============================] - 0s 1ms/step - loss: 0.5381 - accuracy: 0.8583
Epoch 9/35
4/4 [==============================] - 0s 2ms/step - loss: 0.4953 - accuracy: 0.8583
Epoch 10/35
4/4 [==============================] - 0s 2ms/step - loss: 0.4582 - accuracy: 0.8583
Epoch 11/35
4/4 [==============================] - 0s 1ms/step - loss: 0.4271 - accuracy: 0.8583
Epoch 12/35
4/4 [==============================] - 0s 1ms/step - loss: 0.4016 - accuracy: 0.8583
Epoch 13/35
4/4 [==============================] - 0s 1ms/step - loss: 0.3804 - accuracy: 0.8500
Epoch 14/35
4/4 [==============================] - 0s 1ms/step - loss: 0.3614 - accuracy: 0.8583
Epoch 15/35
4/4 [==============================] - 0s 2ms/step - loss: 0.3461 - accuracy: 0.8583
Epoch 16/35
4/4 [==============================] - 0s 1ms/step - loss: 0.3324 - accuracy: 0.8667
Epoch 17/35
4/4 [==============================] - 0s 1ms/step - loss: 0.3187 - accuracy: 0.8667
Epoch 18/35
4/4 [==============================] - 0s 1ms/step - loss: 0.3066 - accuracy: 0.8667
Epoch 19/35
4/4 [==============================] - 0s 1ms/step - loss: 0.2954 - accuracy: 0.8667
Epoch 20/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2853 - accuracy: 0.8667
Epoch 21/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2754 - accuracy: 0.8750
Epoch 22/35
4/4 [==============================] - 0s 1ms/step - loss: 0.2661 - accuracy: 0.8750
Epoch 23/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2574 - accuracy: 0.8750
Epoch 24/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2490 - accuracy: 0.8833
Epoch 25/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2415 - accuracy: 0.8917
Epoch 26/35
4/4 [==============================] - 0s 1ms/step - loss: 0.2328 - accuracy: 0.8917
Epoch 27/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2250 - accuracy: 0.9000
Epoch 28/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2180 - accuracy: 0.9000
Epoch 29/35
4/4 [==============================] - 0s 1ms/step - loss: 0.2107 - accuracy: 0.9083
Epoch 30/35
4/4 [==============================] - 0s 2ms/step - loss: 0.2033 - accuracy: 0.9083
Epoch 31/35
4/4 [==============================] - 0s 2ms/step - loss: 0.1961 - accuracy: 0.9167
Epoch 32/35
4/4 [==============================] - 0s 2ms/step - loss: 0.1896 - accuracy: 0.9167
Epoch 33/35
4/4 [==============================] - 0s 2ms/step - loss: 0.1843 - accuracy: 0.9417
Epoch 34/35
4/4 [==============================] - 0s 1ms/step - loss: 0.1773 - accuracy: 0.9417
Epoch 35/35
4/4 [==============================] - 0s 2ms/step - loss: 0.1709 - accuracy: 0.9500

In [ ]:
Y_pred = model.predict(X_test)

numpy.ndarray