<a href="https://colab.research.google.com/github/GayathriP4/Python/blob/main/CNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/fair.csv')
df.head()

   rate_marriage   age  yrs_married  ...  occupation  occupation_husb   affairs
0              3  32.0          9.0  ...           2                5  0.111111
1              3  27.0         13.0  ...           3                4  3.230769
2              4  22.0          2.5  ...           3                5  1.400000
3              4  37.0         16.5  ...           5                5  0.727273
4              5  27.0          9.0  ...           3                4  4.666666

[5 rows x 9 columns]

# Sequential

In [ ]:
target = df['affairs'].values

In [ ]:
features = df.drop('affairs',axis=1).values

In [ ]:
cols = features.shape[1]
cols

8

In [ ]:
type(features)

numpy.ndarray

In [ ]:
import numpy as np
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
model = Sequential()
model.add(Dense(60,activation='relu',input_shape=(cols,)))
model.add(Dense(13,activation='relu'))
model.add(Dense(1))

In [ ]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics=['accuracy'])

In [ ]:
model.loss

'mean_squared_error'

In [ ]:
model.fit(features,target,epochs=30)

Epoch 1/30
199/199 [==============================] - 0s 1ms/step - loss: 8.0018 - accuracy: 0.2724
Epoch 2/30
199/199 [==============================] - 0s 1ms/step - loss: 4.8215 - accuracy: 0.1957
Epoch 3/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7707 - accuracy: 0.2229
Epoch 4/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7546 - accuracy: 0.2396
Epoch 5/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7522 - accuracy: 0.2617
Epoch 6/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7353 - accuracy: 0.2540
Epoch 7/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7212 - accuracy: 0.2751
Epoch 8/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7195 - accuracy: 0.2725
Epoch 9/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7024 - accuracy: 0.2776
Epoch 10/30
199/199 [==============================] - 0s 1ms/step - loss: 4.7232 - accuracy: 0.2652
Epoch 11/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6884 - accuracy: 0.2872
Epoch 12/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6907 - accuracy: 0.2765
Epoch 13/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6922 - accuracy: 0.2806
Epoch 14/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6943 - accuracy: 0.2865
Epoch 15/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6847 - accuracy: 0.2733
Epoch 16/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6654 - accuracy: 0.2901
Epoch 17/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6864 - accuracy: 0.2779
Epoch 18/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6748 - accuracy: 0.2659
Epoch 19/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6522 - accuracy: 0.2961
Epoch 20/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6684 - accuracy: 0.2776
Epoch 21/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6445 - accuracy: 0.2873
Epoch 22/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6271 - accuracy: 0.2820
Epoch 23/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6406 - accuracy: 0.2944
Epoch 24/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6115 - accuracy: 0.2959
Epoch 25/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6252 - accuracy: 0.2795
Epoch 26/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6259 - accuracy: 0.2903
Epoch 27/30
199/199 [==============================] - 0s 1ms/step - loss: 4.5906 - accuracy: 0.3014
Epoch 28/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6105 - accuracy: 0.2967
Epoch 29/30
199/199 [==============================] - 0s 1ms/step - loss: 4.6068 - accuracy: 0.2846
Epoch 30/30
199/199 [==============================] - 0s 1ms/step - loss: 4.5995 - accuracy: 0.3074

Categorical

In [ ]:
df1 = pd.read_csv('/content/train.csv')
df1.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
df1 = df1.drop(['Name','Sex','Ticket','Cabin'],axis=1)
df1.head()
df1['Embark_s'] = df1['Embarked']=='S'
df1.head()

   PassengerId  Survived  Pclass   Age  ...  Parch     Fare  Embarked Embark_s
0            1         0       3  22.0  ...      0   7.2500         S     True
1            2         1       1  38.0  ...      0  71.2833         C    False
2            3         1       3  26.0  ...      0   7.9250         S     True
3            4         1       1  35.0  ...      0  53.1000         S     True
4            5         0       3  35.0  ...      0   8.0500         S     True

[5 rows x 9 columns]

In [ ]:
d = pd.read_csv('train.csv')
d = d.drop(['Name','Sex','Ticket','Cabin'],axis=1)
d.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare Embarked
0            1         0       3  22.0      1      0   7.2500        S
1            2         1       1  38.0      1      0  71.2833        C
2            3         1       3  26.0      0      0   7.9250        S
3            4         1       1  35.0      1      0  53.1000        S
4            5         0       3  35.0      0      0   8.0500        S

In [ ]:
def c(x):
  if x=='S': return 1
  return 0
d['embark_s'],d['embark_c'] = [c(x) for x in d['Embarked']],[abs(c(x)-1) for x in d['Embarked']]
d = d.drop(['Embarked','Age'],axis=1)
d.head()

   PassengerId  Survived  Pclass  SibSp  Parch     Fare  embark_s  embark_c
0            1         0       3      1      0   7.2500         1         0
1            2         1       1      1      0  71.2833         0         1
2            3         1       3      0      0   7.9250         1         0
3            4         1       1      1      0  53.1000         1         0
4            5         0       3      0      0   8.0500         1         0

In [ ]:
from keras.layers import Dense
from keras.models import Sequential
from keras.utils.np_utils import to_categorical

In [ ]:
m = Sequential()
t = to_categorical(d['Survived'])
f = d.drop(['Survived'],axis=1)
cd = f.shape[1]

m.add(Dense(60,activation='relu',input_shape=(cd,)))
m.add(Dense(2,activation='softmax'))

In [ ]:
m.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [ ]:
m.fit(f,t,epochs=20)

Epoch 1/20
28/28 [==============================] - 0s 1ms/step - loss: 1.0593 - accuracy: 0.5556
Epoch 2/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6917 - accuracy: 0.6510
Epoch 3/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6807 - accuracy: 0.6409
Epoch 4/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6450 - accuracy: 0.6633
Epoch 5/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6318 - accuracy: 0.6644
Epoch 6/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6866 - accuracy: 0.6330
Epoch 7/20
28/28 [==============================] - 0s 1ms/step - loss: 0.7272 - accuracy: 0.6476
Epoch 8/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6626 - accuracy: 0.6453
Epoch 9/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6442 - accuracy: 0.6678
Epoch 10/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6313 - accuracy: 0.6689
Epoch 11/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6766 - accuracy: 0.6566
Epoch 12/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6523 - accuracy: 0.6655
Epoch 13/20
28/28 [==============================] - 0s 1000us/step - loss: 0.6026 - accuracy: 0.6947
Epoch 14/20
28/28 [==============================] - 0s 967us/step - loss: 0.6829 - accuracy: 0.6397
Epoch 15/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6348 - accuracy: 0.6633
Epoch 16/20
28/28 [==============================] - 0s 944us/step - loss: 0.6091 - accuracy: 0.6678
Epoch 17/20
28/28 [==============================] - 0s 913us/step - loss: 0.6159 - accuracy: 0.6813
Epoch 18/20
28/28 [==============================] - 0s 993us/step - loss: 0.6300 - accuracy: 0.6734
Epoch 19/20
28/28 [==============================] - 0s 979us/step - loss: 0.6873 - accuracy: 0.6409
Epoch 20/20
28/28 [==============================] - 0s 1ms/step - loss: 0.6539 - accuracy: 0.6577

In [ ]:
D = pd.read_csv('Iris.csv')
D.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
a = D.Species.unique()
di = { a[i]:i for i in range(len(a))}
di

{'Iris-setosa': 0, 'Iris-versicolor': 1, 'Iris-virginica': 2}

In [ ]:
D['S'] = [di[ele] for ele in D['Species']]
D.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species  S
0   1            5.1           3.5            1.4           0.2  Iris-setosa  0
1   2            4.9           3.0            1.4           0.2  Iris-setosa  0
2   3            4.7           3.2            1.3           0.2  Iris-setosa  0
3   4            4.6           3.1            1.5           0.2  Iris-setosa  0
4   5            5.0           3.6            1.4           0.2  Iris-setosa  0

In [ ]:
t1 = to_categorical(D['S'])
t1

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]], dtype=float32)