<a href="https://colab.research.google.com/github/GayathriP4/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

# Reading with Pandas

In [ ]:
import pandas

In [ ]:
df = pandas.read_csv('/survey.csv')
#read_csv - opens, analyzes and reads the csv file provided, and stores the data in a DataFrame
print(df)

       year industry_code_ANZSIC  ...    value               unit
0      2011                    A  ...    46134              COUNT
1      2011                    A  ...        0              COUNT
2      2011                    A  ...      279  DOLLARS(millions)
3      2011                    A  ...     8187  DOLLARS(millions)
4      2011                    A  ...     8866  DOLLARS(millions)
...     ...                  ...  ...      ...                ...
15475  2020                  all  ...   733258  DOLLARS(millions)
15476  2020                  all  ...   654872  DOLLARS(millions)
15477  2020                  all  ...    77389  DOLLARS(millions)
15478  2020                  all  ...  2396143  DOLLARS(millions)
15479  2020                  all  ...   562646  DOLLARS(millions)

[15480 rows x 7 columns]

In [ ]:
#all column names
df.columns

Index(['year', 'industry_code_ANZSIC', 'industry_name_ANZSIC', 'rme_size_grp',
       'variable', 'value', 'unit'],
      dtype='object')

In [ ]:
type(df['year'][0])

numpy.int64

In [ ]:
df['value']

0          46134
1              0
2            279
3           8187
4           8866
          ...
15475     733258
15476     654872
15477      77389
15478    2396143
15479     562646
Name: value, Length: 15480, dtype: object

In [ ]:
df.head(n=12) #default n=5

    year industry_code_ANZSIC  ...  value               unit
0   2011                    A  ...  46134              COUNT
1   2011                    A  ...      0              COUNT
2   2011                    A  ...    279  DOLLARS(millions)
3   2011                    A  ...   8187  DOLLARS(millions)
4   2011                    A  ...   8866  DOLLARS(millions)
5   2011                    A  ...   7618  DOLLARS(millions)
6   2011                    A  ...    770  DOLLARS(millions)
7   2011                    A  ...  55700  DOLLARS(millions)
8   2011                    A  ...  32155  DOLLARS(millions)
9   2011                    A  ...  21777              COUNT
10  2011                    A  ...  38136              COUNT
11  2011                    A  ...   1435  DOLLARS(millions)

[12 rows x 7 columns]

In [ ]:
df[:-3] #all but last 3 rows

       year industry_code_ANZSIC  ...    value               unit
0      2011                    A  ...    46134              COUNT
1      2011                    A  ...        0              COUNT
2      2011                    A  ...      279  DOLLARS(millions)
3      2011                    A  ...     8187  DOLLARS(millions)
4      2011                    A  ...     8866  DOLLARS(millions)
...     ...                  ...  ...      ...                ...
15472  2020                  all  ...  1903911              COUNT
15473  2020                  all  ...   119387  DOLLARS(millions)
15474  2020                  all  ...   660630  DOLLARS(millions)
15475  2020                  all  ...   733258  DOLLARS(millions)
15476  2020                  all  ...   654872  DOLLARS(millions)

[15477 rows x 7 columns]

In [ ]:
df.describe() 
#summarize the central tendency, dispersion and shape of a datset's distribution, excluding NaN values
#analyzes both numeric and object series as well as DataFrame columns sets of mixed datatypes.

               year
count  15480.000000
mean    2015.500000
std        2.872374
min     2011.000000
25%     2013.000000
50%     2015.500000
75%     2018.000000
max     2020.000000

In [ ]:
x = lambda a,b,c: a+b+c
x(2,3,6)

11

In [ ]:
int('p')

ValueError: ignored